**/*.backup
**/*.swp
**/*.terraform/
**/*.tfstate
**/*.tfstate.backup
**/crash.log
**/terraform.tfstate.d/
*.auto.tfvars
**/__pycache__
**/config-map-aws-auth*.yaml
**/kubeconfig_*
.vscode
.DS_Store
config*.json
token.txt
id_rsa
